@model Web_AMO_MVC.Models.CANBO
@{
    ViewBag.Title = Model.HoTen;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset">
    <a href="/">Trang chủ</a> >> <a href="/can-bo-nhan-vien">Danh sách cán bộ</a> >> @Model.HoTen
</div>
<span style="font-weight:bold;color:#0679b4;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:30px;">@Model.HoTen</span><br />
<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-6 col-sm-3">
        <img src="@Model.AnhMoTa" style="height:180px;width:100%;border:1px solid #0a68db" />
    </div>
    <div class="col-sm-9">
        <div style="line-height:1.7">
            Chức vụ: @Model.ChucVu<br />
            Phòng làm việc: @Model.PHONGBAN.TenPhong<br />
            Ngày sinh: @Model.NgaySinh.Value.ToString("dd/MM/yyyy")<br />
            Quê quán: @Model.QueQuan<br />
            Bằng cấp: @Model.BangCap<br />
            Email: @Model.Email<br />
            Số ĐT: @Model.SoDT<br />
        </div>
    </div>
</div>
<span style="font-weight:bold">Thông tin chi tiết về cán bộ nhân viên:</span><br />
 @Model.ChiTiet<br />
<span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Cập nhật cuối cùng lúc: @Model.NgayCapNhat.Value.ToString("dd/MM/yyyy hh:mm tt")</span>