@model List<Web_AMO_MVC.Models.CANBO>
@{
    ViewBag.Title = "Kết quả tìm kiếm cán bộ nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset;">
    <a href="/">Trang chủ</a> >> Tìm kiếm >> Cán bộ nhân viên >>
</div>

Kết quả tìm kiếm cho từ khóa : <span style="font-weight:bold">@ViewBag.TuKhoa</span><br />
<br />


<div>
    @if (Model != null)
    {
        if (Model.Count <= 0)
        {
            <span style="font-weight:bold">Không tìm được kết quả nào</span>
        }
        else
        {
            foreach (var kqcb in Model)
            {
                <div class="row">
                    <div class="col-xs-5 col-sm-3">
                        <a href="/chi-tiet/can-bo-nhan-vien/@kqcb.IdCB/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(kqcb.HoTen)"><img src="@kqcb.AnhMoTa" style="width:100%;height:140px;border:1px solid #0a68db" /></a>
                    </div>
                    <div class="col-sm-9">
                        <a style="font-weight:bold;font-size:20px;color:#0a68db" href="/chi-tiet/can-bo-nhan-vien/@kqcb.IdCB//@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(kqcb.HoTen)">@kqcb.HoTen</a>
                        <div style="line-height:1.7">
                            Chức vụ: @kqcb.ChucVu<br />
                            Ngày sinh: @kqcb.NgaySinh.Value.ToString("dd/MM/yyyy")<br />
                            Quê quán: @kqcb.QueQuan<br />
                            Bằng cấp: @kqcb.BangCap<br />
                            Email: @kqcb.Email
                        </div>
                    </div>
                </div>
                <hr />
            }
        }
    }
</div>
