@model List<Web_AMO_MVC.Models.TAILIEU>
@{
    ViewBag.Title = "Kết quả tìm kiếm công văn tài liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset;">
    <a href="/">Trang chủ</a> >> Tìm kiếm >> Công văn tài liệu >>
</div>

Kết quả tìm kiếm cho từ khóa : <span style="font-weight:bold">@ViewBag.TuKhoa</span><br />
<br />

@if (Model != null)
{
    if (Model.Count <= 0)
    {
        <span style="font-weight:bold">Không tìm được kết quả nào</span>
    }
    else
    {
        foreach (var kqtl in Model)
        {
            <a style="font-weight:bold;color:#0a68db" href="/chi-tiet/cong-van-tai-lieu/@kqtl.IdTL/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(kqtl.TieuDe)">@kqtl.TieuDe</a><br />
            <span style="color:#999;" class="glyphicon glyphicon-user"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @kqtl.TAIKHOAN.HoTen</span> <span>-</span>
            <span style="color:#999;" class="glyphicon glyphicon-time"></span> <span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@kqtl.NgayDang.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</span> <span>-</span>
            <span style="color:#999;" class="glyphicon glyphicon-eye-open"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @kqtl.LuotXem lượt xem</span>
            <br />
            <hr />
        }
    }
}