@model Web_AMO_MVC.Models.BAIVIET
@{
    ViewBag.Title = Model.TieuDe;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset;">
    <a href="/">Trang chủ</a> >> <a href="~/tin-tuc-su-kien">Tin tức sự kiện</a> >> <a href="/the-loai/@Model.IdTheLoai/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(Model.THELOAIBAIVIET.TenTheLoai)">@Model.THELOAIBAIVIET.TenTheLoai</a> >> @Model.TieuDe
</div>

<div>
    <span style="color:#0094ff;font-weight:bold;font-size:26px;line-height:1.3">@Model.TieuDe</span> <br />
    <div style="margin-bottom:10px;">
        <span style="color:#999;" class="glyphicon glyphicon-time"></span> <span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@Model.NgayDang.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</span> <span>-</span>
        <span style="color:#999;" class="glyphicon glyphicon-eye-open"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @Model.LuotXem lượt xem</span>
        <span>-</span> <span style="color:#999;" class="glyphicon glyphicon-comment"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @Model.BINHLUANs.Count bình luận</span>
    </div>
    <div style="margin-bottom:10px;"><span style="color:#5d6469;font-weight:bold; font-size:18px; line-height:1.3;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.TomTat</span></div>
    @Html.Raw(Model.NoiDung)<br />
    <div style="float:right"><span>Tác giả: </span><span style="font-weight:bold"> @Model.TacGia</span></div>
</div>

<div>
    <br />
    <div class="box-header">
        <h3 class="box-title">
            Bình luận
        </h3>
    </div>
    @Html.Action("HienThiBinhLuan", "Home", new List<Web_AMO_MVC.Models.BINHLUAN>())
    <br />
    @using (Html.BeginForm("ThemBinhLuan", "Home", FormMethod.Post, new Web_AMO_MVC.Models.BINHLUAN()))
    {
        <div class="box">
            <div class="box-body pad">
                <form>
                    <textarea class="textarea" id="txtNoiDungBL" name="NoiDung" placeholder="Nhập bình luận" style="width: 100%;height: 100px; max-height:125px; font-size: 14px; line-height:1; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </form>
                <div hidden class="form-group">
                    <input type="text" value="@Request.Url.AbsoluteUri" name="UrlBaiViet" />
                    <input type="text" name="IdBaiViet" value="@Model.IdBV" />
                    <input type="text" class="form-control" name="IdTaiKhoan" value="@Session["IdTK"]" />
                </div>
            </div>
            @if (Session["IdTK"] == null)
            {
                <a href="/Admin/dang-nhap?returnUrl=@Request.Url.AbsoluteUri" class="btn btn-primary btn-sm">Đăng nhập</a>
                <span style="color:#999">&nbsp; Đăng nhập để bình luận</span>
            }
            else
            {
                <button type="submit" class="btn btn-primary btn-sm">Bình luận</button>
            }
        </div>
    }
</div>
<div>
    @Html.Action("BaiVietCungTheLoai", "Home", new List<Web_AMO_MVC.Models.BAIVIET>())
</div>