@model PagedList.PagedList<Web_AMO_MVC.Models.BAIVIET>
@using PagedList.Mvc;
@{
    foreach (var theloai in Model.Take(1))
    {
        ViewBag.Title = theloai.THELOAIBAIVIET.TenTheLoai;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset;">
    <a href="/">Trang chủ</a> >> <a href="/tin-tuc-su-kien">Tin tức sự kiện</a> >>  @foreach (var theloai in Model.Take(1))
    {
        <a href="@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(theloai.THELOAIBAIVIET.TenTheLoai)"> @theloai.THELOAIBAIVIET.TenTheLoai</a>
    }
</div>
@if (Model != null)
{
    foreach (var cungtheloai in Model)
    {
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-5 col-sm-3">
                <a href="/chi-tiet/tin-tuc-su-kien/@cungtheloai.IdBV/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(cungtheloai.TieuDe)"><img src="@cungtheloai.AnhBV" style="height:110px;width:100%;margin-bottom:5px" /></a>
            </div>
            <div class="col-sm-9">
                <a style="font-size:14px;font-weight:bold;color:#0b65c7" href="/chi-tiet/tin-tuc-su-kien/@cungtheloai.IdBV/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(cungtheloai.TieuDe)">@cungtheloai.TieuDe<br /></a>
                <span style="color:#999;" class="glyphicon glyphicon-time"></span> <span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@cungtheloai.NgayDang.Value.ToString("dd/MM/yyyy hh:mm:ss tt")</span> <span>-</span>
                <span style="color:#999;" class="glyphicon glyphicon-eye-open"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @cungtheloai.LuotXem lượt xem</span>
                 <span>-</span> <span style="color:#999;" class="glyphicon glyphicon-comment"></span><span style="color:#999;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> @cungtheloai.BINHLUANs.Count bình luận</span>
                <br />
                @cungtheloai.TomTat
            </div>
        </div>
        <hr />
    }
}
Có tất cả: <span style="font-weight:bold"> @ViewBag.Count</span> bài viết thuộc thể loại @{
    foreach (var theloai in Model.Take(1))
    {
        @theloai.THELOAIBAIVIET.TenTheLoai;
    }
}
<br />

Trang: <span style="font-weight:bold"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
@if (Model.PageCount <= 1)
{
}
else
{
    @Html.PagedListPager(Model, page => Url.Action("TheLoai", new { page = page }))
}