@model Web_AMO_MVC.Models.VIDEO
@{
    ViewBag.Title = Model.TenVideo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well-sm" style="border:1px solid #d5d5d5; margin-bottom:1%;border-radius:unset">
    <a href="/">Trang chủ</a> >> <a href="/video">Album video</a> >> <a href="/danh-sach-video/@Model.IdAlbum/@Web_AMO_MVC.Models.ChuanHoaSEO.ConvertTitle(Model.ALBUM.TenAlbum)">@Model.ALBUM.TenAlbum</a> >> @Model.TenVideo
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div>
            <iframe style="width:100%; height:350px;" src="@Model.LinkVideo" frameborder="0" allowfullscreen></iframe>
            <span style="font-weight:bold;color:#086ecf;font-size:28px;">
                @Model.TenVideo
            </span>
        </div>
    </div>
    <br />
</div>
<div>
    @Html.Action("VideoTrongAlbum", "Video", new List<Web_AMO_MVC.Models.VIDEO>())
</div>