
@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model Web_AMO_MVC.Models.BAIVIET

<style>
    label {
        font-weight: normal;
        font-family: 'Segoe UI';
        font-size: 15px;
    }
</style>
<div class="content">
    <label style="font-size:27px; font-weight:bold; color:#0094ff">Chi tiết bài viết: Mã số @Model.IdBV</label><br />

    <label style="font-weight:bold">Thể loại:</label>
    <label>@Model.THELOAIBAIVIET.TenTheLoai</label><br />

    <label style="font-weight:bold">Tiêu đề bài viết:</label>
    <label>@Model.TieuDe</label><br />

    <label style="font-weight:bold">Tóm tắt:</label>
    <label>@Model.TomTat</label><br />

    <label style="font-weight:bold">Nội dung:</label>
    <label>@Html.Raw(Model.NoiDung)</label><br />

    <label style="font-weight:bold">Tác giả:</label>
    <label>@Model.TacGia</label><br />

    <label style="font-weight:bold">Trạng thái:</label>
    <label>@Model.TrangThai</label><br />
    <label style="font-weight:bold">Hiển thị Slide:</label>
    <label>@Model.Slide</label><br />

    <label style="font-weight:bold">Ngày đăng:</label>
    <label>@Model.NgayDang.Value.ToString("dd/MM/yyyy hh:mm tt")</label><br />

    <label style="font-weight:bold">Ngày cập nhật cuối:</label>
    @if (Model.NgayCapNhat == null)
    {
        <label>Chưa cập nhập lần nào</label><br />
    }
    else
    {
        <label>@Model.NgayCapNhat.Value.ToString("dd/MM/yyyy hh:mm tt")</label><br />
    }

    <label style="font-weight:bold">Hình ảnh bài viết: </label>
    <img src="@Model.AnhBV" style="max-height:60px; max-width:60px;margin:10px" /><br />

    <label style="font-weight:bold">Người đăng:</label>
    <label>@Model.TAIKHOAN.HoTen</label><br />

    <p style="font-size:16px;text-decoration:underline">
        @Html.ActionLink("Quay lại", "Index")
    </p>
</div>
