@model PagedList.PagedList<Web_AMO_MVC.Models.BAIVIET>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bài viết chưa duyệt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách bài viết Chưa duyệt</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalThemBaiViet">Thêm</button>
                    </div>
                    <div class="table-responsive" style="margin-top:10px;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã bài viết</th>
                                    <th>Thể loại</th>
                                    <th>Tiêu đề</th>
                                    <th>Tóm tắt</th>
                                    <th>Nội dung</th>
                                    <th>Ngày đăng</th>
                                    <th hidden>Ngày cập nhật</th>
                                    <th>Tác giả</th>
                                    <th>Trạng thái</th>
                                    <th>Slide</th>
                                    <th>Người đăng</th>
                                    <th>Hình ảnh</th>
                                    <th style="text-align:center;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var bv in Model)
                                    {
                                        <tr>
                                            <td>@bv.IdBV</td>
                                            <td id="theloai-@bv.IdBV">@bv.THELOAIBAIVIET.TenTheLoai</td>
                                            <td id="tieude-@bv.IdBV">@bv.TieuDe</td>
                                            <td id="tomtat-@bv.IdBV">@bv.TomTat</td>
                                            @if (bv.NoiDung.Length > 100)
                                            {
                                                <td id="noidung-@bv.IdBV">@Html.Raw(bv.NoiDung.Substring(0, 100))...</td>
                                            }
                                            else
                                            {
                                                <td id="noidung-@bv.IdBV">@Html.Raw(bv.NoiDung)</td>
                                            }

                                            <td id="ngaydang-@bv.IdBV">@bv.NgayDang.Value.ToString("dd/MM/yyy hh:mm tt")</td>
                                            @if (bv.NgayCapNhat == null)
                                            {
                                                <td hidden>@bv.NgayCapNhat</td>
                                            }
                                            else
                                            {
                                                <td hidden id="ngaycapnhat-@bv.IdBV">@bv.NgayCapNhat.Value.ToString("dd/MM/yyy hh:mm tt")</td>
                                            }
                                            <td id="tacgia-@bv.IdBV">@bv.TacGia</td>
                                            @if (bv.TrangThai == "Đã duyệt")
                                            {
                                                <td id="trangthai-@bv.IdBV">@bv.TrangThai <i style="color:#087e12" class="glyphicon glyphicon-ok"></i></td>
                                            }
                                            else
                                            {
                                                <td id="trangthai-@bv.IdBV">@bv.TrangThai <i style="color:#f22b2b" class="glyphicon glyphicon-remove"></i></td>
                                            }
                                            @if (bv.Slide == "Hiển thị")
                                            {
                                                <td id="slide-@bv.IdBV">@bv.Slide <i style="color:#087e12" class="glyphicon glyphicon-eye-open"></i></td>
                                            }
                                            else
                                            {
                                                <td id="slide-@bv.IdBV">@bv.Slide <i style="color:#f22b2b" class="glyphicon glyphicon-eye-close"></i></td>
                                            }
                                            <td id="nguoidang-@bv.IdBV">@bv.TAIKHOAN.HoTen</td>
                                            <td><img src="@bv.AnhBV" style="max-width:70px; max-height:80px" /></td>
                                            <td>
                                                <div class="tools" style="text-align:center;">
                                                    <a href="~/Admin/BaiViet/ChiTiet/@bv.IdBV" style="margin-right:2px"><i class="glyphicon glyphicon-th-list" data-toggle="tooltip" title="Chi tiết"></i></a>
                                                    <a href="~/Admin/BaiViet/Sua/@bv.IdBV" style="margin-right:2px"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Sửa"></i></a>
                                                    <a onclick="return confirm('Bạn có muốn xóa không?')" href="~/Admin/BaiViet/Xoa/@bv.IdBV"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Xóa"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    Có tất cả: <span style="font-weight:bold"> @ViewBag.Count </span>bài viết<br />
                    Trang: <span style="font-weight:bold"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
                    @if (Model.PageCount <= 1)
                    {
                    }
                    else
                    {
                        @Html.PagedListPager(Model, page => Url.Action("Chuaduyet", new { page = page }))
                    }
                </div>             
            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="modalThemBaiViet" role="dialog">
    <div class="modal-dialog modal-lg" style="margin-top:1%; margin-bottom:1%">
        @using (Html.BeginForm("Them", "BaiViet", FormMethod.Post))
            {
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mới bài viết</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Thể loại <label id="errtheloai"></label></label>
                                <div class="col-sm-3">
                                    @Html.DropDownList("IdTheLoai", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tiêu đề bài viết <label id="errtieude"></label></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="txttieude" name="TieuDe" placeholder="Nhập tiêu đề bài viết" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tóm tắt bài viết <label id="errtomtat"></label></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="TomTat" id="txttomtat" placeholder="Nhập tóm tắt bài viết" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nội dung <label id="errnoidung"></label></label>
                                <div class="col-sm-10">
                                    <textarea id="editor" name="NoiDung" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ngày đăng </label>
                                <div class="col-sm-4">
                                    <input type="datetime-local" id="txtngaydang" class="form-control" name="NgayDang" title="Nếu không nhập ngày thì mặc địch lấy ngày giờ hiện tại" />
                                </div>
                            </div>
                            <div hidden class="form-group">
                                <label class="col-sm-2 control-label">Ngày cập nhật</label>
                                <div class="col-sm-4">
                                    <input type="datetime-local" class="form-control" id="txtngaycapnhat" name="NgayCapNhat" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Trạng thái <label id="errtrangthai"></label></label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="TrangThai">
                                        <option>Đã duyệt</option>
                                        <option>Chưa duyệt</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hiển thị Slide <label id="errhtslide"></label></label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="Slide">
                                        <option>Không</option>
                                        <option>Hiển thị</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tác giả <label id="errtacgia"></label></label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txttacgia" name="TacGia" placeholder="Nhập tác giả bài viết " />
                                </div>
                            </div>
                            <div hidden class="form-group">
                                <label class="col-sm-2 control-label">Người đăng</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="IdTaiKhoan" value="@Session["IdTK"]" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Hình ảnh <label id="errhinhanh"></label></label>
                                <div class="col-sm-8">
                                    <input type="text" readonly class="form-control" id="txthinhanh" name="AnhBV" placeholder="Chọn hình ảnh bài viết">
                                </div>
                                <div class="col-sm-2">
                                    <input type="button" id="ChonAnh" class="form-control btn-primary" value="Chọn ảnh ...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnluu" class="btn btn-success">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!--Thêm ảnh-->
<script language="javascript" type="text/javascript">
    $("#ChonAnh").click(function () {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            $("#txthinhanh").val(fileUrl);
        };
        finder.popup();
    });
</script>

<!--Bắt lỗi-->
<script type="text/javascript" language="javascript">
    $('#btnluu').click(function () {
        var error = 0;
        if ($('#txttheloai').val() == "") {
            $('#errtheloai').text("(*)");
            $('#errtheloai').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtheloai').text("");
            $('#errtheloai').css("color", "#666");
        }
        if ($('#txttieude').val() == "") {
            $('#errtieude').text("(*)");
            $('#errtieude').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtieude').text("");
            $('#errtieude').css("color", "#666");
        }
        if ($('#txttomtat').val() == "") {
            $('#errtomtat').text("(*)");
            $('#errtomtat').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtomtat').text("");
            $('#errtomtat').css("color", "#666");
        }

        var text = CKEDITOR.instances.editor.getData();
        if (text == "") {
            $('#errnoidung').text("(*)");
            $('#errnoidung').css("color", "#FA5858");
        }
        else {
            $('#errnoidung').text("");
            $('#errnoidung').css("color", "#666");
        }


        if ($('#txttrangthai').val() == "") {
            $('#errtrangthai').text("(*)");
            $('#errtrangthai').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtrangthai').text("");
            $('#errtrangthai').css("color", "#666");
        }


        if ($('#txttacgia').val() == "") {
            $('#errtacgia').text("(*)");
            $('#errtacgia').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtacgia').text("");
            $('#errtacgia').css("color", "#666");
        }

        if ($('#txthinhanh').val() == "") {
            $('#errhinhanh').text("(*)");
            $('#errhinhanh').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errhinhanh').text("");
            $('#errhinhanh').css("color", "#666");
        }
        if (error != 0) {
            return false;
        }
        else
            return true;
    });
</script>


