@model PagedList.PagedList<Web_AMO_MVC.Models.TAIKHOAN>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách tài khoản</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <div class="navbar-right" style="margin-top:-10px;">
                            @using (Html.BeginForm("Index", "TaiKhoan", FormMethod.Get))
                            {
                                <div class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="tukhoa" style="border-bottom-left-radius:3px;border-top-left-radius:3px" placeholder="Nhập từ khóa">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" id="btnsubmit" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="table-responsive" style="margin-top:40px;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã tài khoản</th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Quyền</th>
                                    <th>Trạng thái</th>
                                    <th style="text-align:center;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var tk in Model)
                                    {
                                        <tr>
                                            <td>@tk.IdTK</td>
                                            <td id="hoten-@tk.IdTK">@tk.HoTen</td>
                                            <td>@tk.Email</td>
                                            <td><img src="@tk.AnhDaiDien" style="max-width:50px; max-height:50px" /></td>
                                            <td id="quyen-@tk.IdTK">@tk.Quyen</td>
                                            <td id="trangthai-@tk.IdTK">@tk.TrangThai</td>
                                            <td>
                                                <div class="tools" style="text-align:center;">
                                                    <a data-toggle="modal" data-target="#modalSuaTK" onclick="LoadData(@tk.IdTK)"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Sửa"></i></a>
                                                    @* <a onclick="return confirm('Bạn có muốn xóa không?')" href="~/Admin/TaiKhoan/Xoa/@tk.IdTK"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Xóa"></i></a>*@
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Có tất cả: <span style="font-weight:bold"> @ViewBag.Count</span> tài khoản <br />
    Trang: <span style="font-weight:bold"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
    @if (Model.PageCount <= 1)
    {
    }
    else
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @tukhoa = @ViewBag.Tukhoa }))
    }
</div>


<script type="text/javascript">
    function LoadData(id) {
        $("#ma-tk").val(id);
        var hoTen = $("#hoten-" + id + "").html();
        $("#ho-ten").val(hoTen);
        var quyen = $("#quyen-" + id + "").html();
        $("#quyen").val(quyen);
        var trangThai = $("#trangthai-" + id + "").html();
        $("#trang-thai").val(trangThai);
    }
</script>

<!-- Modal -->
<div class="modal fade" id="modalSuaTK" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("Sua", "TaiKhoan", FormMethod.Post))
        {
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sửa tài khoản</h4>
                </div>
                <div class="modal-body">
                    <div hidden class="form-group">
                        <label>Mã tài khoản</label>
                        <input type="text" class="form-control" id="ma-tk" name="IdTK" />
                    </div>
                    <div class="form-group">
                        <label>Họ tên</label>
                        <input type="text" class="form-control" id="ho-ten" name="HoTen" />
                    </div>
                    <div class="form-group">
                        <label>Quyền</label>
                        <select class="form-control" id="quyen" name="Quyen">
                            <option value="User">User</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <select class="form-control" id="trang-thai" name="TrangThai">
                            <option value="Hoạt động">Hoạt động</option>
                            <option value="Vô hiệu hóa">Vô hiệu hóa</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                </div>
            </div>
        }
    </div>
</div>
