@model PagedList.PagedList<Web_AMO_MVC.Models.LICHLAMVIEC>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lịch công tác";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách lịch công tác</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalThemLichLamViec">Thêm</button>
                        <div class="navbar-right" style="margin-top:-10px;">
                            @using (Html.BeginForm("Index", "LichLamViec", FormMethod.Get))
                            {
                                <div class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="tukhoa" style="border-bottom-left-radius:3px;border-top-left-radius:3px" placeholder="Nhập từ khóa">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" id="btnsubmit" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="table-responsive" style="margin-top:10px;">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Mã lịch công tác</th>
                                    <th>Tiêu đề</th>
                                    <th hidden>Link nội dung lịch</th>
                                    <th>Lời nhắc lịch</th>
                                    <th>Ngày đăng</th>
                                    <th>Người đăng</th>
                                    <th style="text-align:center;">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var llv in Model)
                                    {
                                        <tr>
                                            <td>@llv.IdLLV</td>
                                            <td id="tieude-@llv.IdLLV">@llv.TieuDe</td>
                                            <td hidden id="link-@llv.IdLLV">@Html.Raw(llv.LinkNoiDung)</td>
                                            <td id="nhaclich-@llv.IdLLV">@llv.NhacLich</td>
                                            <td id="ngaydang-@llv.IdLLV">@llv.NgayDang.Value.ToString("dd/MM/yyyy hh:mm tt")</td> <!--Chuyen kieu hien thi ngay thang nam dddd, dd/MM/yyyy hh:mm tt-->
                                            <td>
                                                <input hidden id="idtaikhoan-@llv.IdLLV" value="@llv.IdTaiKhoan" />
                                                <span>@llv.TAIKHOAN.HoTen</span>
                                            </td>
                                            <td>
                                                <div class="tools" style="text-align:center;">
                                                    <a data-toggle="modal" data-target="#modalSuaLichLamViec" onclick="LoadData(@llv.IdLLV)"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Sửa"></i></a>
                                                    <a onclick="return confirm('Bạn có muốn xóa không?')" href="~/Admin/LichLamViec/Xoa/@llv.IdLLV"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Xóa"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    Có tất cả: <span style="font-weight:bold"> @ViewBag.Count</span> lịch công tác <br />
    Trang: <span style="font-weight:bold"> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</span>
    @if (Model.PageCount <= 1)
    {
    }
    else
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @tukhoa = @ViewBag.TuKhoa }))
    }
</div>

<!-- Sửa -->
<script type="text/javascript">
    function LoadData(id) {
        $("#ma-llv").val(id);

        var tieuDe = $("#tieude-" + id + "").html();
        $("#tieu-de").val(tieuDe);

        var linkLLV = $("#link-" + id + "").html();
        $("#link-llv").val(linkLLV);

        var nhacLich = $("#nhaclich-" + id + "").html();
        $("#nhac-lich").val(nhacLich);

        var ngayDang = $("#ngaydang-" + id + "").html();
        $("#ngay-dang").text(ngayDang);

    }
</script>

<!-- Modal Thêm-->
<div class="modal fade" id="modalThemLichLamViec" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("Them", "LichLamViec", FormMethod.Post))
            {
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm mới lịch công tác</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tiêu đề lịch công tác</label> <label id="errtieude"></label>
                            <input type="text" id="txttieude" class="form-control" autofocus name="TieuDe" placeholder="Nhập tiêu đề lịch công tác" />
                        </div>
                        <div class="form-group">
                            <label>Link lịch công tác</label> <label id="errlink"></label>
                            <input type="text" id="txtlink" class="form-control" name="LinkNoiDung" placeholder="Nhập link lịch công tác" />
                        </div>
                        <div class="form-group">
                            <label>Nhắc lịch công tác</label>
                            <textarea class="form-control" id="txtnhaclich" name="NhacLich" placeholder="Nhập nhắc lịch công tác" rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ngày đăng</label> <label style="font-weight:normal"> (Nếu không chọn thì mặc địch lấy ngày giờ hiện tại)</label>
                            <input type="datetime-local" id="txtngaydang" class="form-control" name="NgayDang" placeholder="Nhập ngày đăng lịch công tác" />
                        </div>
                        <di hidden class="form-group">
                            <label>Người đăng</label>
                            <input type="text" class="form-control" name="IdTaiKhoan" value="@Session["IdTK"]" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnluu" class="btn btn-success">Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                </div>
            </div>
        }
    </div>
</div>

<!--Bắt lỗi-->
<script language="javascript" type="text/javascript">
    $('#btnluu').click(function () {
        var error = 0;
        if ($('#txttieude').val() == "") {
            $('#errtieude').text("(*)");
            $('#errtieude').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errtieude').text("");
        }

        if ($('#txtlink').val() == "") {
            $('#errlink').text("(*)");
            $('#errlink').css("color", "#FA5858");
            error++;
        }
        else {
            $('#errlink').text("");
        }

        if (error != 0) {
            return false;
        }
        else
            return true;
    });
</script>

<!-- Modal Sửa-->
<div class="modal fade" id="modalSuaLichLamViec" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("Sua", "LichLamViec", FormMethod.Post))
            {
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sửa lịch công tác</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group" hidden>
                            <label>Mã lịch công tác</label>
                            <input type="text" class="form-control" id="ma-llv" name="IdLLV" />
                        </div>
                        <div class="form-group">
                            <label>Tiêu đề lịch công tác</label>
                            <input type="text" class="form-control" id="tieu-de" name="TieuDe" placeholder="Nhập tiêu đề lịch công tác" />
                        </div>
                        <div class="form-group">
                            <label>Link lịch công tác</label>
                            <input type="text" class="form-control" id="link-llv" name="LinkNoiDung" placeholder="Nhập link lịch công tác" />
                        </div>
                        <div class="form-group">
                            <label>Nhắc lịch công tác</label>
                            <textarea id="nhac-lich" class="form-control" name="NhacLich" placeholder="Nhập nhắc lịch công tác" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <label>Ngày đăng</label> &nbsp; &nbsp; &nbsp;<label id="ngay-dang" name="NgayDang"></label>
                            <input type="datetime-local" class="form-control" name="NgayDang" />
                        </div>

                        <div hidden class="form-group">
                            <label>Người đăng</label>
                            <input type="text" class="form-control" name="IdTaiKhoan" value="@Session["IdTK"]" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
